# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.env

# Arduino / C++
*.o
*.elf
*.hex
*.bin
build/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user

# Data files
*.csv
